<div class="navbar d-flex">
  <a href="#" class="btn-primary nav-bar-button rounded">About</a>
  <a href="/events" class="btn-primary nav-bar-button rounded">Events</a>
  <a href="#" class="btn-primary nav-bar-button rounded">Board Members</a>
  <a href="#" class="btn-primary nav-bar-button rounded">Contact us</a>
</div>
<div class="banner vh-100" style="background-image: url('https://www.studentcenter.uci.edu/wp-content/uploads/2020/03/brilliant-future-bell-tower.jpg')">
  <div class="d-flex center">
    <div class="container ">
      <h1>UCI Alumni Association Japan Chapter</h1>
      <p>Official Webpage of the UCI Alumni Association Japan Chapter</p>
      <p>カリフォルニア大学　アーバイン校　日本同窓会</p>
      <a class="button" href="#" alt="Apply now"></a>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Created by Louis Yasuhiro
  </div>
</div>
