<div class="navbar bg-color-primary d-flex">
  <a href="#" class="btn-primary px-5 py-3 rounded">About</a>
  <a href="/events" class="btn-primary px-5 py-3 rounded">Events</a>
  <a href="#" class="btn-primary px-5 py-3 rounded">Board Members</a>
  <a href="#" class="btn-primary px-5 py-3 rounded">Contact us</a>
</div>
<div class="banner" style="background-image: asset-url('student-center-exterior-BF-reg.jpeg);">
  <div class="container">
    <h1>UCI Alumni Association Japan Chapter</h1>
    <p>Official Webpage of the UCI Alumni Association Japan Chapter</p>
    <div class="card-white">カリフォルニア大学　アーバイン校　日本同窓会</div>
    <a class="button" href="#" alt="Apply now"></a>
  </div>
</div>
