<div class="banner" style="background-image: url('https://www.teahub.io/photos/full/349-3494577_aerial-tour-of-uci-campus-uci-campus-uc.jpg');   background-repeat: no-repeat;
  background-size:100vw 100vh;">
  <div class="d-flex justify-content-between">
    <a href="#" class="btn-primary nav-bar-button rounded">About</a>
    <a href="/events" class="btn-primary nav-bar-button rounded">Events</a>
    <a href="#" class="btn-primary nav-bar-button rounded">Board Members</a>
    <a href="#" class="btn-primary nav-bar-button rounded">Contact us</a>
  </div>
  <div class="d-flex center">
    <div class="container ">
      <div class="mt-5">
        <h1>UCI Alumni Association Japan Chapter</h1>
        <p>Official Webpage of the UCI Alumni Association Japan Chapter</p>
        <p>カリフォルニア大学　アーバイン校　日本同窓会</p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Created by Louis Yasuhiro
  </div>
</div>
