.nav-bar-button {
  width:20%;
  text-align: center;
      padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    background-color: #0C233E !important;
}

.nav-bar-button:hover {
  text-decoration: none;
}
